<ion-header class="header">
  <ion-toolbar>
    <!-- <ion-title>
      Questions aléatoires
    </ion-title> -->
    <span>Score : {{ correctResponseCount }}</span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="currentQuestionsIndex <= questions.length -1" class="quiz-container">

    <!-- Question Section -->
    <div id="question" class="question-box">
      <h6 class="category">Catégorie : {{ questions[currentQuestionsIndex]?.category }}</h6>
      <h6 class="difficulty">Difficulté : {{ questions[currentQuestionsIndex]?.difficulty }}</h6>
      <h2>Question {{ [currentQuestionsIndex +1] }} / {{questions.length}}</h2>
      <p class="question-text" [innerHTML]="questions[currentQuestionsIndex]?.question"></p>
    </div>

    <!-- Response Section -->
    <div id="response" class="response-box">
      <div *ngFor="let answer of questions[currentQuestionsIndex]?.allResponses" class="answer-option">
        <span (click)="selectResponse(answer, questions[currentQuestionsIndex]?.correct_answer)" [ngClass]="{
          'correct': answered && answer === questions[currentQuestionsIndex]?.correct_answer,
          'incorrect': selectedResponses.has(answer) && answer !== questions[currentQuestionsIndex]?.correct_answer
        }" class="answer" [innerHTML]="getSanitizedAnswer(answer)">
        </span>
      </div>
    </div>

    <!-- Next Button Section -->
    <div *ngIf="answered" class="next-button-container">
      <button (click)="nextQuestion()" class="next-button">Suivant</button>
    </div>



  </div>
  @if( currentQuestionsIndex && currentQuestionsIndex === questions.length ) {
  <div class="theEnd">
    <h1>You score is {{ correctResponseCount }} / {{ questions.length }}</h1>
    <button (click)="back()">Réssayer</button>
  </div>
  }


</ion-content>